/* 
* Sdileny soubor se styly. Includovany do vsech stranek
*/

body
{
background-color: #beb79e;
background-image:url('pozadi.jpg');
background-repeat:no-repeat;
background-position:center top;

font-size: 11px;
font-family: "Book Antiqua";
color: #212222;
}

#div_main
{
position:relative;
width: 1340px;
margin: auto;
}

#div_logo
{
background-image:url('logo.png');
position:relative;
width: 1330px;
margin: auto;
height: 125px;
}

a
{
color: #551111;
text-decoration: underline;
}

a:hover
{
color: red!important;
text-decoration: none!important;
}

input
{
margin: 2px;
font-size: 12px;
font-family: "Arial";
color: #212222;
}

.submit
{
margin-left: 2px;

font-family: "Palatino Linotype";
font-size: 12px;
font-weight: bold;
color: #111111;
padding: 3px;

-moz-box-shadow: 0px 1px 0px 0px #997744;
-webkit-box-shadow: 0px 1px 0px 0px #997744;
box-shadow: 0px 1px 0px 0px #997744;

background-color: #bbaa55;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccbb99), color-stop(1, #bbaa55));
background:-moz-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
background:-webkit-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
background:-o-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
background:-ms-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
background:linear-gradient(to bottom, #ccbb99 5%, #bbaa55 100%);
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccbb99', endColorstr='#bbaa55',GradientType=0);  */

border-style: none;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;


cursor: pointer;

}

.submit:hover
{
background-color: #ccbb99;

background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffaa), color-stop(1, #bbaa55));
background:-moz-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
background:-webkit-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
background:-o-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
background:-ms-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
background:linear-gradient(to bottom, #ffffaa 5%, #bbaa55 100%);
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaa', endColorstr='#bbaa55',GradientType=0); */
}

.textbox
{
width: 103px;
font-weight: normal;
font-family: "Palatino Linotype";
color: #111111;
background-color: #ccbb99;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 2px;
}

.textbox_ng{
	color: #111111;
	background-color: #ccbb99;
	border-radius: 3px;
}

.textbox_ng_nazev{
	font-family: "Book Antiqua";
	background-color: transparent!important;
	padding: 2px;
	border: 1px dashed;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	width: 110px;
	height: 16px;
	color: #f4e4ce;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.selectbox
{
font-weight: bold;
font-family: "Palatino Linotype";
color: #111111;
background-color: #ccbb99;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.checkbox
{
color: #111111;
background-color: #ccbb99;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.textarea
{
background-color: #ffa;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;   
}


.tab
{
border: 1px solid;
border-collapse: collapse;
border-color: #809080;
}

.tab td
{
border: 1px solid;
border-color: #809080;
padding: 3px;
font-size: 11px;
}

.tab th
{
text-align: center;
border: 1px solid;
border-color: #809080;
padding: 3px;
font-size: 11px;
}

.tab_video{
	font-family: sans-serif!important;
	width: 100%;
	margin: 0 auto;
	border: none;
	border-collapse: collapse;
	border-color: #809080;
}

.tab_video td
{
border: 0px solid;
border-color: #809080;
padding: 3px;
font-size: 11px;
text-align: center;
}

.tab_top{
	font-family: sans-serif!important;
	width: 95%;
	margin: 0 auto;
	border: none;
	border-collapse: collapse;
	border-color: #809080;
}

.tab_top tr:nth-child(2n+3) 
{
background: #4f4b3b;
}

.tab_top td
{
border: 0px solid;
border-color: #809080;
padding: 3px;
font-size: 11px;
text-align: center;
}

.tab_top th
{
text-align: center;
border: 0px solid;
border-bottom: 1px solid;
border-color: #f4e4ce;
padding: 3px;
font-size: 11px;
}


table.tab_diskuze {
	border: 1px solid;
	width: 100%;
}

tr.tab_diskuze {
	border: 1px solid;
}


table.nic
{
border: none;
border-collapse: collapse;
}

td.nic
{
border: none;
padding: 3px;
}
th.nic
{
border: none;
padding: 3px;
}

.left
{
text-align: left;
}
.center
{
text-align: center;
}
.right
{
text-align: right;
}
.top
{
vertical-align: top;
}
.middle
{
vertical-align: middle;
}
.bottom
{
vertical-align: bottom;
}


.automargin
{
margin: auto;
}
.sloupec
{
float: left;
margin-top: 0px;
margin-left: 10px;
margin-bottom: 0px;
margin-right: 0px;
text-align: center;
}

.sloupec
{
float: center;
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
text-align: center;
}

.sloupec_n
{
float: left;
margin-top: 0px;
margin-left: 10px;
margin-bottom: 0px;
margin-right: 0px;
text-align: center;
}

.sloupec_n
{
float: center;
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
text-align: center;
}
.avatar
{
margin: 0px;
width: 90px;
height: 90px;
border: 1px solid rgba(22, 21, 19, 1);
border-radius: 3px;
}
.error
{
color: #ee4444;
}

.admin
{
font-weight: bold;
color: #ff1515;
}
.moderator
{
font-weight: bold;
color: #00ffff;
}
.rozhodci
{
font-weight: bold;
color: #ffff00;
}
.screenshot
{
width: 180px;
max-height: 100px;
}
.infocolor
{
color: #809080;
}


.hover_border:hover {
	border-radius: 3px;
	background-color: rgb(244, 228, 206, 0.4);
}

p.paragraph
{
margin-top: 0px;
margin-bottom: 0px;
margin-left: 6px;
margin-right: 6px;
font-family: sans-serif!important;
}

p.paragraph2
{
margin: 0px;
font-family: sans-serif!important;
}

ul.paragraph
{
margin: 0px;
font-family: sans-serif!important;
padding-top: 5px;
padding-left: 20px;
}

li.paragraph
{
margin: 0px;
font-family: sans-serif!important;
}

p.h1
{
font-size: 24px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 5px;
margin-left: 6px;
margin-right: 6px
}

p.h2
{
font-size: 18px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 5px;
margin-left: 6px;
margin-right: 6px
}
  
p.h3
{
font-size: 14px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 5px;
margin-left: 6px;
margin-right: 6px
}  

p.h4
{
font-size: 12px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 4px;
margin-left: 4px;
margin-right: 4px
} 

.mini
{
font-size: 8px;
}
 
.button {
    border: none;
	border-radius: 3px;
    color: #212222!important;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	font-weight:bold;
	/*background-color: #f4e4ce;*/
	background-color: #bbaa55;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccbb99), color-stop(1, #bbaa55));
	background:-moz-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-webkit-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-o-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-ms-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:linear-gradient(to bottom, #ccbb99 5%, #bbaa55 100%);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.button:hover {
    color: red!important;
	text-decoration: none!important;
	cursor: pointer;
	background-color: #ccbb99;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffaa), color-stop(1, #bbaa55));
	background:-moz-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-webkit-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-o-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-ms-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:linear-gradient(to bottom, #ffffaa 5%, #bbaa55 100%);
}


.button2 {
    border: none;
	border-radius: 3px;
    color: #212222!important;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	font-weight:bold;
	/*background-color: #f4e4ce;*/
	background-color: #bbaa55;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccbb99), color-stop(1, #bbaa55));
	background:-moz-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-webkit-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-o-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-ms-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:linear-gradient(to bottom, #ccbb99 5%, #bbaa55 100%);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	min-width: 60px;
}


.button2:hover {
    color: red!important;
	text-decoration: none!important;
	cursor: pointer;
	background-color: #ccbb99;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffaa), color-stop(1, #bbaa55));
	background:-moz-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-webkit-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-o-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-ms-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:linear-gradient(to bottom, #ffffaa 5%, #bbaa55 100%);
}

.button3 {
    border: none;
	border-radius: 2px;
    color: #212222!important;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
	font-weight: normal;
	/*background-color: #f4e4ce;*/
	background-color: #bbaa55;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccbb99), color-stop(1, #bbaa55));
	background:-moz-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-webkit-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-o-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:-ms-linear-gradient(top, #ccbb99 5%, #bbaa55 100%);
	background:linear-gradient(to bottom, #ccbb99 5%, #bbaa55 100%);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.button3:hover {
    color: red!important;
	text-decoration: none!important;
	cursor: pointer;
	background-color: #ccbb99;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffaa), color-stop(1, #bbaa55));
	background:-moz-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-webkit-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-o-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:-ms-linear-gradient(top, #ffffaa 5%, #bbaa55 100%);
	background:linear-gradient(to bottom, #ffffaa 5%, #bbaa55 100%);
}


.strong_ng{
	text-transform: uppercase;
	/*font-weight: bold;*/
	padding: 1px 5px 1px 5px;
	border-radius: 3px;	
	border: 1px solid rgba(22, 21, 19, 0.7);
	border-radius: 3px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.strong_ng2{
	text-transform: uppercase!important;
	font-weight: bold;
	padding: 0px;
	border: none;
}

.text_ng{
	padding: 1px 5px 1px 5px;
}

.strong{
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid;
}

.strong2{
	font-family:sans-serif!important;
	font-weight: bold;
	text-decoration: underline!important;
	line-height: 20px;
}

.strong3{
	font-weight: normal;
	font-family:sans-serif!important;
	text-decoration: underline!important;
	line-height: 20px;
}

.strong4{
	font-weight: bold;
	text-decoration: none!important;
	font-size: 18px; 
	line-height: 24px;
}

.strong_diskuze{
	text-transform: uppercase;
	/*font-weight: bold;*/
	padding: 1px 5px 1px 5px;
	border-radius: 3px;	
	border: 1px solid rgba(22, 21, 19, 0.7);
	border-radius: 3px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.strong_video{
	position: relative; 
	top: 5px;
	text-transform: capitalize;
}

.strong_hra{
	position: relative;
	font-family:sans-serif!important;	
	top: -20px; 
	text-transform: capitalize;
}

.text_video{
	padding: 5px 10px 5px 10px;
	border-radius: 3px;	
	border: 1px solid rgba(22, 21, 19, 0.7);
	border-radius: 3px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.text_diskuze{
	padding: 10px 5px 1px 5px;
}

.obrazek-490 {
	border: 1px solid rgba(22, 21, 19, 0.7);
	display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
	width: 435px;
	border-radius: 3px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.obrazek-fb {
	margin-left: 5px; 
	border: 0px solid rgba(22, 21, 19, 0.7);
	border-radius: 3px; 
	width: 50px!important;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.podklad {
	background-color: rgba(48, 47, 34, 0.4);
	border: 1px solid rgba(22, 21, 19, 0.7);
	border-radius: 3px;
	margin: 0px 10px 0px 5px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.podklad2 {
	background-color: rgba(22, 21, 19, 0.7);
	border: 1px solid rgba(22, 21, 19, 1);
	border-radius: 3px;
	margin: 0px 10px 0px 5px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.podklad_screen {
	width: 180px;
	height: 125px; 
	float: left;
	background-color: rgba(48, 47, 34, 0.4);
	border: 1px solid rgba(22, 21, 19, 0.7);
	border-radius: 3px;
	margin: 10px 10px 0px 5px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.text_n{
	padding-top: 6px;
}

.yt {background: #000 center 65%}
.yt, .yt a {width: 180px; height: 120px; display: block; border: 0;}
.yt a {
  background: transparent url("yt-control.png") left bottom no-repeat; 
  position: relative; 
  text-decoration: none; 
  color: #fff;
  border: 1px solid #3d3021; 
  outline: 2px solid #685338;
  border-radius: 3px;
}
.yt a span {
  display: block; width: 96%; position: absolute; top: 0; left: 0; 
  background: #000; color: #fff; font: 14px Arial; 
  padding: 1.2% 2%; opacity: .75;
}
.yt a:hover {background-color: transparent}
.yt iframe {border: 0;}

.img_ramecek{
  border: 1px solid #3d3021; 
  outline: 2px solid #685338;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.img_novinky{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 435px!important;
 margin-top: 5px;
}

.graf{
	border-radius: 3px; 	
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
	border: 1px solid rgba(22, 21, 19, 0.7); 
	height: 15px;  
	float: left;
}

.odkaz a 
{
color: #551111;
text-decoration: underline!important;
}

.odkaz a:hover
{
color: red!important;
text-decoration: none!important;
}

/*error message*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
.isa_info, .isa_success, .isa_warning, .isa_error {
	margin: 10px 0px;
	padding:12px;
	text-align: center;
	font-family: sans-serif!important;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: rgb(255, 210, 210, 0.8);
	border: 1px solid red;
	border-radius: 3px;	
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}