/*
* CSS pro menu
*/

#div_menu
{
width: 1330px;
height: 80px;

background-image:url('menu.png');
}

#div_menu ul {
	margin-top: 0px;
	margin-left: -20px;
	padding-top: 20px;
}

#div_menu li {
	display: inline;
}

#div_menu a {
	float: left;
	width: 120px;
	height: 35px;
	margin-left: 8px;
	padding-top: 8px;
	background: url('svitek1.png') no-repeat;
	text-decoration: none;
	text-align: center;
	font-family: "Palatino Linotype";
	font-size: 13px;
	font-weight: bold;
	color: #212222;
}

#div_menu a:hover {
	background-image: url('svitek2.png');
}

#div_menu .active a {
  color: #c82222;
}


/****** SUB MENU *****/

#div_menu2
{
width: 1024px;
height: 80px;

background-image:url('menu.png');
}

#div_menu2 ul {
	margin-top: 0px;
	margin-left: -20px;
	padding-top: 20px;
}

#div_menu2 li {
	display: inline;
}

#div_menu2 a {
	float: left;
	width: 90px;
	height: 35px;
	margin-left: 8px;
	padding-top: 8px;
	background: url('svitek1.png') no-repeat;
	text-decoration: none;
	text-align: center;
	font-family: "Palatino Linotype";
	font-size: 13px;
	font-weight: bold;
	color: #212222;
}

#div_menu2 a:hover {
	background-image: url('svitek2.png');
}

#div_menu2 .active a {
  color: #c82222;
}
