
#nova_hra_table
{
  width: 100%;
  border-collapse: collapse;
}

#nova_hra_table th
{
  width: 49%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}   

#nova_hra_table td
{
  vertical-align: middle;
}

#porazeny_select
{
  width: 100%;
  display: none;
}

#img_vymenit
{
  cursor: pointer;
}

#img_vitez_barva
{
  cursor: pointer;
}

#img_porazeny_barva
{
  cursor: pointer;
}

img.selectbox_mesto
{
  width: 100%;
}