/*
* CSS pro ramecky do kterych se dava cokoliv
*/

.ramecek {
font-size: 12px;
font-family: "Book Antiqua";
color: #f4e4ce;
text-align: left;
margin-top: -10px;
}

.ramecek h2 {
  font-size: 16px;
  font-family: "Candara";
  font-weight: bold;
  padding-top: 19px;
}

.ramecek a {
  color: #f4e4ce;
  text-decoration: none;
}

.ramecek a:hover{
  text-decoration: underline;
}

.ramecek203_1 {
	background-image:url('ramecky/ramecek203_1.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 53px;
	width: 204px;
	text-align: center;
}

.ramecek203_2 {
	background-image:url('ramecky/ramecek203_2.png');
	background-repeat: repeat-y;
	background-position: left center;
	padding-left: 15px;
	padding-right: 10px;
	width: 179px;
}

.ramecek203_3 {
	background-image:url('ramecky/ramecek203_3.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	height: 33px;
	width: 204px;
}

.ramecek286_1 {
	background-image:url('ramecky/ramecek286_1.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 53px;
	width: 287px;
	text-align: center;
}

.ramecek286_2 {
	background-image:url('ramecky/ramecek286_2.png');
	background-repeat: repeat-y;
	background-position: left center;
	padding-left: 15px;
	padding-right: 10px;
	width: 262px;
}

.ramecek286_3 {
	background-image:url('ramecky/ramecek286_3.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	height: 33px;
	width: 287px;
}

.ramecek490_1 {
	background-image:url('ramecky/ramecek490_1.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 55px;
	width: 491px;
	text-align: center;
}

.ramecek490_2 {
	background-image:url('ramecky/ramecek490_2.png');
	background-repeat: repeat-y;
	background-position: left center;
	width: 461px;
	padding-right: 15px;
	padding-left: 15px;
}

.ramecek490_3 {
	background-image:url('ramecky/ramecek490_3.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	height: 35px;
	width: 491px;
}

.ramecek780_1 {
	background-image:url('ramecky/ramecek780_1.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 55px;
	width: 781px;
	text-align: center;
}

.ramecek780_2 {
	background-image:url('ramecky/ramecek780_2.png');
	background-repeat: repeat-y;
	background-position: left center;
	width: 751px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: -5px;
}

.ramecek780_3 {
	background-image:url('ramecky/ramecek780_3.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	height: 30px;
	width: 781px;
}

.ramecek1024_1 {
	background-image:url('ramecky/ramecek1024_1.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 58px;
	width: 1025px;
	text-align: center;
}

.ramecek1024_2 {
	background-image:url('ramecky/ramecek1024_2.png');
	background-repeat: repeat-y;
	background-position: left center;
	padding-right: 10px;
	padding-left: 15px;
	width: 1000px;
}

.ramecek1024_3 {
	background-image:url('ramecky/ramecek1024_3.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	height: 26px;
	width: 1025px;
}
div.nadpis
{
margin: auto;
}
div.nadpis_1
{
margin-left: 4px;
width: 50px;
height: 55px;
background-image:url('ramecky/nadpis_1.png');
background-repeat: no-repeat;
background-position: center right;
float:left;
}
div.nadpis_2
{
height: 55px;
background-image:url('ramecky/nadpis_2.png');
background-repeat: repeat-x;
background-position: center center;
float:left;
}
div.nadpis_3
{
width: 50px;
height: 55px;
background-image:url('ramecky/nadpis_3.png');
background-repeat: no-repeat;
background-position: center left;
float:left;
}
div.nadpis h1
{
margin-top: 13px;
font-size: 20px;
font-family: "Book Antiqua";
color: #f4e4ce;
}
